/* Styles loaded if javascript is enabled */
.js-hide { position: absolute; left: -9999em; display: block; width: 1em; }
.hide, #more-options { display: none; }
.show { display: block; }
#main-block div.show { display: block; }