/*
 WELCOME TO THE STYLESHEET
 Copyright Andrew Smith
 Author: Andrew Smith
*/
 
/*
COLOR SCHEME
- black		#000
- white		#fff
*/

/* GLOBALS */
body { font: normal 0.75em/1.5em Verdana, Arial, sans-serif; margin: 0; }
/* HEADER */

/* NAVIGATION */
#nav { background: #162c35 url(../images/assets.png) repeat-x scroll 0 0; }
#nav ul { padding: 12px 4px 4px; }
#nav ul li { display: inline; margin-right: -2px; }
#nav ul li a { background: #3C89AB url(../images/assets.png) no-repeat scroll 0 -33px; color: #fff; padding: 6px 10px; text-decoration: none; }
#nav ul li.active a { background-color: #fff; background-image: none; color: #3C89AB; }

/*#nav li { padding: 12px 10px; position: relative; }
#nav li.active { background: transparent url(../images/tab_bg.png) no-repeat scroll left top; }
#nav li.active span { color: #000; font-weight: bold; }
#nav li span { color: #3b87aa; padding: 14px 61px 11px 30px; }
#nav li span a { color: #3b87aa; }
#nav li em { background-image: url(../images/list_numbers.png); display: block; height: 24px; position: absolute; top: 8px; width: 24px; }
#nav-1 em { background-position: -2px -2px; }
#nav-2 em { background-position: -2px -48px; }
#nav-3 em { background-position: -2px -92px; }
#nav-4 em { background-position: -2px -133px; }
#nav-1.active em { background-position: -38px -2px; }
#nav-2.active em { background-position: -38px -48px; }
#nav-3.active em { background-position: -38px -92px; }
#nav-4.active em { background-position: -38px -133px; }*/

/* MAIN CONTENT */
#content { background-color: #fff; }
#main-block, #nav li.active span { background-color: #e1e1e1; }
#main-block { padding: 12px 20px; }
#main-block h1 { font-size: 1.4em; font-weight: normal; padding: 0 0 5px; }
#main-block .intro { font-style: italic; padding: 0 0 15px; }
#main-block .error { background-color: #FFEBE8; border: 1px solid #DD3C10; padding: 10px; margin-bottom: 15px; }
#main-block .notice { background-color: #FFFAD7; border: 1px solid #F6EBA9; display: none; padding: 15px 10px; margin: 20px 0; position: relative; }
#main-block .notice p { margin: 0 !important; }
#main-block .success { background-color: #edfcc5; border: 1px solid #a9f3f6; padding: 15px 10px; margin: 20px 0 10px; position: relative; }
#main-block .success p { color: #376ca2; margin: 0 !important; }
#main-block .success p span.hide { display: none; }
#main-block table { text-align: left; }
#main-block table th,
#main-block table td { padding: 5px 40px 5px 0; }
#main-block table td.pass { color: #191; }
#main-block table td.fail { color: #911; }
#more-options h2 { margin: 10px 0; }
#main-block #next { position: absolute; right: 10px; top: 16px; }
#main-block .smart-form .notice #next { top: 15px; }
#main-block .smart-form #next { top: 7px; }
#main-block .smart-form #next .button { padding: 8px 20px; }
#main-block #next .button { background: #376ca2 url(../images/btn_bg.gif) repeat-x scroll left top; border: 1px solid #1a5189; color: #fff; text-decoration: none; padding: 10px 20px; }

/* Form Elements */
#content .smart-form { padding: 8px 0 0; }
#content .smart-form p { margin-bottom: 10px; }
#content .smart-form p label { float: left; width: 188px; padding: 10px 0pt; }
#content .smart-form p.checkbox label { padding: 0; }
#content .smart-form p input { font-family: Verdana, Arial, sans-serif, sans-serif; font-size: 1.1em; font-weight: normal; }
#content .smart-form p input.size { border: 1px solid #ccc; padding: 8px 10px; width: 370px; }
#content .smart-form div.actions { float: right; margin-top: 9px; padding-right: 2px; text-align: right; }
#content .smart-form div.actions input { background-color: #e51d9b; border: none; color: #fff; font-weight: bold; padding: 10px 10px 7px 12px; }
#content .smart-form div.actions #checkbox { display: block; margin-top: 10px; text-align: center; }
#content .smart-form div.actions #checkbox input { background: none; border: 1px solid; margin: 0; padding: 0; }
#content .smart-form div.actions #checkbox label { margin: 0; padding: 0 0 0 5px; }
#content .smart-form p input.submit { float: right; margin: 0 20px 0 0; }

/* Overide styles */
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #aaa; outline: none; }

/* FOOTER */