/*======================================
      WELCOME TO THE STYLESHEET
--------------------------------------      
     Copyright Mike Crittenden
      Author: Mike Crittenden
======================================*/
 
/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body { background: #fff url(../images/footer_bg.gif) repeat top left; margin: 0; font-family: Arial, "MS Trebuchet", sans-serif; }

/**************************************/
/*              HEADER                */
/**************************************/
#header { height: 122px; background: #fff url(../images/header_bg.gif) repeat-x top left; }
#logo { text-align: right; padding-right: 26px; }


/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#content { background-color: #fff; }
#content .container h1 { margin-bottom: 0; }

/* Login Page */
#content.login-page { padding: 30px 0 20px; }
#content.login-page .container { width: 551px; }
#content.login-page .container h1 { height: 46px; background: transparent url(../images/client_login_h1.jpg) no-repeat scroll left top; margin-top: 0; }

/* Main Page */
#content.main-page { padding: 16px 0 50px; }
#content.main-page .container { position: relative; }
#content.main-page .container #logout { background: #fcdc41 url(../images/logout) no-repeat left top; padding-right: 12px; position: absolute; right: 0; top: 45px; }
#content.main-page .container #logout a { display: block; padding: 42px 20px 41px 50px; }
#content.main-page .container #logout a span { display: block; font-size: 1px; height: 0; width: 0; overflow: hidden; }
#content.main-page .container h1 { height: 30px; background: transparent url(../images/client_main_h1.jpg) no-repeat scroll left top; margin-top: 0; }

/* Rounded Box style */
#content.main-page .bbl { background: #e2e2e2 url(../images/bbl.gif) no-repeat 0 100%; width: 740px; }
#content.main-page .bbr { background: url(../images/bbr.gif) no-repeat 100% 100%; }
#content.main-page .btl { background: url(../images/btl.gif) no-repeat 0 0; }
#content.main-page .btr { background: url(../images/btr.gif) no-repeat 100% 0; padding: 10px 20px; }
#content.main-page .clear {font-size: 1px; height: 1px}

/* Intro style */
#content.main-page #intro { padding-top: 4px; margin: 0 0 20px 60px; }
#content.main-page #intro h2 { color: #666; font-size: 1.8em; margin: 7px 0; }
#content.main-page #intro p { color: #666; font-size: 1.4em; font-weight: normal; margin: 7px 0 10px; }

/* Campaign style */
#content.main-page #campaign { margin-left: 60px; }
#content.main-page .campaign { margin-bottom: 10px; }
#content.main-page .campaign h3 { color: #333; }
#content.main-page .campaign h4 { color: #666; font-size: 1.2em; font-weight: bold; }
#content.main-page .campaign ul { list-style-type: none; margin: 0; width: 700px; }
#content.main-page .campaign ul li { border-top: 1px dashed #999; margin: 0; padding: 12px 0; position: relative; }
#content.main-page .campaign ul li.last { border-bottom: 1px dashed #999; }
#content.main-page .campaign ul li div { display: inline; text-align: left; }
#content.main-page .campaign ul li div.date {}
#content.main-page .campaign ul li div.title { position: absolute; left: 110px; }
#content.main-page .campaign ul li div.action { position: absolute; right: 0; width: 100px; }
#content.main-page .campaign ul li div.action a { background-color: #fcdc41; color: #666; font-weight: bold; padding: 6px 21px; text-decoration: none; }

/* Form Elements */
#content .smart-form { padding: 8px 0 90px; }
#content .smart-form p { margin-bottom: 6px; }
#content .smart-form p label { float: left; width: 188px; padding: 10px 0; }
#content .smart-form p input { font-size: 1.4em; font-weight: normal; font-family: Arial, "MS Trebuchet", Verdana, sans-serif; }
#content .smart-form p input.size,
#content .smart-form p select.size { width: 340px; padding: 8px 10px; }
#content .smart-form div.actions { float: right; margin-top: 9px; padding-right: 2px; text-align: right; }
#content .smart-form div.actions input { background-color: #999; border: none; color: #fff; font-family: Arial, "MS Trebuchet", sans-serif; font-weight: bold; padding: 10px 10px 7px 12px; }
#content .smart-form div.actions #checkbox { display: block; margin-top: 10px; text-align: center; }
#content .smart-form div.actions #checkbox input { background: none; border: 1px solid; margin: 0; padding: 0; }
#content .smart-form div.actions #checkbox label { margin: 0; padding: 0 0 0 5px; }

/* Overide styles */
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #aaa; outline: none; }

/**************************************/
/*               FOOTER               */
/**************************************/
#footer { height: 9px; }
/*#footer .container { position: relative; }*/
/*#footer .module { background-color: #fff; min-height: 253px; position: absolute; top: 17px; width: 220px; }*/
/*#footer .module h3 { color: #6e6e6e; margin: 0; padding: 43px 40px 29px; text-align: right; }*/
#footer #sister-sites.module { right: 250px; }
#footer #sister-sites.module ul { list-style-type: none; margin: 0; padding: 0 40px; }
#footer #sister-sites.module ul li { background: transparent url(../images/list_arrow.gif) no-repeat 0 7px; margin: 0; padding-left: 10px; text-align: right; }
#footer #sister-sites.module ul li a { color: #e51d9b; font-weight: bold; text-decoration: none; }
#footer #sister-sites.module .twitter { float: left; background: #fff url(../images/twitter) no-repeat left top; padding: 1px 23px 5px 105px; }
#footer #sister-sites.module .twitter a { display: block; height: 75px; width: 90px; }
#footer #sister-sites.module .twitter a span { display: block; font-size: 1px; height: 0; width: 0; overflow: hidden; }
#footer #contact.module { right: 10px; }
#footer #contact.module ul { color: #6e6e6e; list-style-type: none; margin: 0; padding: 0 40px 0 30px; text-align: right; }
#footer #contact.module ul li { margin: 0; }
#footer #contact.module ul li.tel { padding: 8px 0 0; }
#footer #contact.module ul li.email a { color: #e51d9b; font-weight: bold; text-decoration: none; }