/*
 WELCOME TO THE STYLESHEET
 Copyright Andrew Smith
 Author: Andrew Smith
*/
 
/*
COLOR SCHEME
- black		#000
- white		#fff
*/

/* GLOBALS */
body { font: normal 0.75em/1.5em Verdana, Arial, sans-serif; margin: 0; }

/* HEADER */
#header { padding: 0; }
#logo { width: 459px; }
#logo a { background: transparent url(../images/logo.png) no-repeat scroll 0px; display: block; height: 80px; position: relative; text-decoration: none; width: 240px; }
#logo a span.app-name { display: none; font-size: 0; height: 0; overflow: hidden; width: 0; }
#login #header { padding: 120px 0 0; }
#login #logo { margin: 0 auto; }

/* NAVIGATION */
#nav { background: #162c35 url(../images/assets.png) repeat-x scroll 0 0; }
#nav ul { margin: 0; padding: 12px 16px 3px; }
#nav ul li { display: inline; margin-right: -2px; }
#nav ul li a { background: #3C89AB url(../images/assets.png) no-repeat scroll 0 -33px; color: #fff; padding: 5px 10px; text-decoration: none; }
#nav ul li.active a { background-color: #fff; background-image: none; color: #3C89AB; }
#nav ul li.right { float: right; margin-left: 4px; }
#nav ul li.right a { background: #3C89AB url(../images/assets.png) no-repeat scroll 0 -60px; }

/* EXTRA NAV */
#extra_nav 						{ float: right; font-size: 8pt; font-family: Helvetica,Arial,Verdana,sans-serif; margin-top: 0px; }
#extra_nav ul 					{ float: left; width: auto; margin: 0; padding: 0; list-style-type: none; }
#extra_nav ul li 					{ display: block; float: left; margin: 0; border-right: 1px solid #999; }
#extra_nav ul li a 					{ display: block; float: left; text-decoration: none; padding: 0 0 0 20px; height: 15px; }
#extra_nav ul li a span 			{ float: left; height: 15px; line-height: 18px; padding: 0px 20px 0 0; }
#extra_nav ul li a:hover 			{ color: #ccc; }
#extra_nav ul li a:hover span 		{ display: block; width: auto; cursor: pointer; }
#extra_nav ul li a.current,
#extra_nav ul li a.current:hover	{ height: 33px; color: #193441; background: #fff url(images/normal_on.gif) repeat-x; line-height: 275%; }
#extra_nav ul li a.current span 	{ display: block; width: auto; height: 33px; margin: 0; padding: 0 20px 0 0; background-color: #fff; }
#extra_nav ul li.last a span { padding-right: 5px; }
#extra_nav ul li.last { border-right: none; }


/* MAIN CONTENT */
#login #content { background: none; display: block; min-width: 459px; width: 459px; margin: 0 auto; }

#content { background-color: #fff; display: inline-block; min-width: 1049px; position: relative; width: 100%;  }
#main { float: left; width: 82%; }
#main .inner { padding: 10px 8px; }
#main #page_title { font-size: 1.5em; font-weight: normal; }

#pages-table { width: 100%; text-align: left; font-size: 0.8em; border-collapse: collapse; border: none; }
#pages-table tr th, #pages-table tr td { padding: 5px 15px; }
#pages-table .title { width: 50%; background-color: #999; font-size: 1.1em; font-variant: small-caps; }
#pages-table .author { width: 20%; background-color: #999; font-size: 1.1em; font-variant: small-caps; }
#pages-table .status { width: 17%; background-color: #999; font-size: 1.1em; font-variant: small-caps; }
#pages-table .actions { width: 13%; background-color: #999; font-size: 1.1em; font-variant: small-caps; }
#pages-table .indent-1 { padding-left: 30px; }
#pages-table .indent-2 { padding-left: 45px; }
#pages-table span.draft { color: #f00; }
#pages-table .drag { background-color: #333; }

/* Page List Sitemap */
#wrapper { background-color: #f7f7f7; padding: 10px; width: 98%; text-align: left; }
#wrapper a { color: #000; text-decoration: none; }
#wrapper a:hover { color: #000; text-decoration: underline; }
#wrapper .portlet { margin-bottom: 50px; }
#site-map .alt { background-color: #eee; }
#site-map-def { background: transparent url('../images/assets.png') repeat-x scroll 0 0; width: 100%; margin-top: 10px; position: relative; }
#site-map-def .client { padding: 2px 0 4px 15px; }
#site-map-def .balance { position: absolute; right: 130px; top: 0pt; width: 110px; }
#site-map-def .id { position: absolute; left: 200px; top: 0pt; width: 110px; }
#site-map-def .contact { position: absolute; left: 315px; top: 0pt; width: 180px; }
#site-map-def .total { position: absolute; right: 250px; top: 0pt; width: 110px; }
#site-map-def .actions { position: absolute; right: 2px; top: 0pt; width: 90px; }
#site-map-def div { /*background-color: #999;*/ color: #fff; font-weight: normal; font-variant: small-caps; padding: 2px 4px; }

#site-map-root { font-size: 90%; list-style-type: none; padding-left: 0; margin: 0; }
#site-map { list-style-type: none; padding: 0 10px; margin: 0; }
#site-map-root li, #site-map li { border-bottom: 1px solid #DDDDDD; margin-top: 1px; padding: 2px 5px; position: relative; }

#site-map li:hover, #site-map li.hover { background: #F5F5F5 none repeat scroll 0%; }
#site-map ul { background: #FFFFFF none repeat scroll 0%; list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0pt; padding: 0pt; }
#site-map .client { position: relative; padding: 5px 0; }
#site-map .id { position: absolute; left: 195px; top: 7px; width: 110px; }
#site-map .contact { position: absolute; left: 310px; top: 7px; width: 180px; }
#site-map .total { position: absolute; right: 245px; top: 7px; width: 110px; }
#site-map .balance { position: absolute; right: 125px; top: 7px; width: 110px; }
#site-map .actions { position: absolute; right: 5px; top: 7px; width: 90px; }
#site-map .status { color: #9EB3BF; }
#site-map .status.draft-status { color: #CC0000; }
#site-map .status.published-status { color: #000000; }
#site-map .status.pending-status { color: #009900; }
#site-map .status.hidden-stats { color: #00CC00; }

/* Table Nice */
.table-nice { padding: 0; }
.table-nice tr th { color: #fff; padding: 6px; }
.table-nice tbody { padding: 0 10px; }
.table-nice tr td { border-bottom: 1px solid #DDD; margin-top: 1px; padding: 6px; }
.table-nice tr.odd { background-color: #EEE; }
.table-nice tr.even td { border-top: 1px solid #fff; }

#sidebar { position: relative; float: right; width: 18%; min-height: 450px; /*background-color: #d8dacf;*/ top: 52px; }
#sidebar .inner { padding: 0 15px; }
#sidebar #quickmenu { height: 25px; list-style-type: none; padding: 0 0 15px; margin: 0; }
#sidebar #quickmenu ul { list-style-type: none; padding-left: 0; }
#sidebar #quickmenu li a#quickmenu-btn { background: transparent url('../images/assets.png') no-repeat scroll 0 -95px; color: #fff; display: block; float: left; height: 28px; margin: 0; max-width: 220px; text-decoration: none; /*border: 1px solid #ccc; padding: 7px 72px 7px 20px;*/ }
#sidebar #quickmenu li a#quickmenu-btn span { float: left; display: block; width: 100%; height: 28px; color: #fff; background: #fff url('../images/assets.png') no-repeat scroll 100% -95px; margin: 0 0 0 19px; padding: 5px 24px 0 10px; }
#sidebar #quickmenu ul { position: absolute; left: 15px; top: 44px; display: none; font-size: 0.8em; padding: 2px 0px 2px 0px; margin: 0; }
#sidebar #quickmenu ul li a { display: block; color: #fff; text-decoration: none; min-width: 120px; max-width: 194px; background-color: #004080; padding: 1px 0 0px 20px; border-top: 1px solid #fff; }
#sidebar #quickmenu ul li a:hover { color: #fff; background-color: #00376F; }
#sidebar #quickmenu li:hover ul { display: block; }

#sidebar #hook-new-invoice {  }
#sidebar #hook-new-invoice label { display: none; }
#sidebar #hook-new-invoice p { height: auto; }
#sidebar #hook-new-invoice p select.size,
#sidebar #hook-new-invoice p input.size { border: 1px solid #ccc; padding: 4px; position: static; width: 188px; }
#sidebar #hook-new-invoice p select.size { width: 198px; }
#sidebar #hook-new-invoice div.actions { float: none; }
#sidebar #hook-new-invoice .cancel { float: left; padding: 5px; }
#sidebar #hook-new-invoice #next .button { padding: 5px 20px; }

#sidebar #search-form { background-color: #fff; margin-right: 5px; padding: 10px 0 10px 10px; }
#sidebar #search-form .search { width: 75%; border: 1px solid #ccc; }
#sidebar #search-form .submit { background-color: transparent; border: none; }
#sidebar #page-types { list-style-type: none; padding: 0 15px; margin: 0; }
#sidebar #page-types li h3 { margin: 15px 0 4px; }
#sidebar #page-types li ul { list-style-type: none; border-top: 1px solid #bcbaba; padding-left: 0px; margin: 0; }
#sidebar #page-types li ul li { border-bottom: 1px solid #bcbaba; margin-top: 1px; }
#sidebar #page-types li ul li a { display: block; color: #737373; text-decoration: none; background-color: #c3bfbf; padding: 2px; }
#sidebar #page-types li ul li.alt a { background-color: #cdcccc; }
#sidebar #page-types li ul li a:hover { background-color: #777; }
#sidebar #page-types li ul li a span { background: transparent url(../images/assets.png) no-repeat scroll -168px -40px; padding-left: 20px; }
#sidebar #page-types li ul li a:hover span { color: #fff; }

.invoice-info { width: 450px; }


/* Form Elements */
#info_message { background-color: #FFFAD7; border: 1px solid #F6EBA9; display: none; padding: 15px 10px; margin: 20px 0; }
#error_message { background-color: #FFEBE8; border: 1px solid #DD3C10; margin-bottom: 25px; padding: 10px 10px 10px 50px; }
#content .smart-form { padding: 8px 0 0; }
#content .smart-form p { margin-bottom: 10px; }
#content .smart-form p label { float: left; width: 77px; padding: 12px 10px; }
#content .smart-form p.checkbox label { padding: 0; }
#content .smart-form p input { font-family: Verdana, Arial, sans-serif, sans-serif; font-size: 1.1em; font-weight: normal; }
#content .smart-form p input.size { border: 1px solid #ccc; padding: 12px 10px; width: 340px; }
#content .smart-form .errorMessage { color: #f00; padding: 0 0 0 98px; }
#content .smart-form div.actions { float: right; margin-top: 9px; padding-right: 2px; text-align: right; }
#content .smart-form div.actions input { background-color: #e51d9b; border: none; color: #fff; font-weight: bold; padding: 10px 10px 7px 12px; }
#content .smart-form div.actions #checkbox { display: block; margin: 10px 0; text-align: center; }
#content .smart-form div.actions #checkbox input { background: none; border: 1px solid; margin: 0; padding: 0; }
#content .smart-form div.actions #checkbox label { color: #777; margin: 0; padding: 0 5px 0 0; }
#content .smart-form p input.submit { float: right; margin: 0 20px 0 0; }
#content .smart-form #next .button { background: #376ca2 url(../images/btn_bg.gif) repeat-x scroll left top; border: 1px solid #1a5189; color: #fff; cursor: pointer; padding: 10px 20px; text-decoration: none; }

/* Overide styles */
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #aaa; outline: none; }

/* FOOTER */